@model Domain.Entities.Hotel

<div class="w-100 card border-0 p-5">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2> Xóa thông tin Khách Sạn</h2>
            </div>
        </div>
    </div>
    <div class="card-body border py-4 ">
        <form method="post" class="row">
            <div class="p-3">
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="Name" class="form-control border shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="Description" class="form-control border shadow" />
                    <label asp-for="Description" class="ms-2">Mô tả</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="Price" class="form-control border shadow" />
                    <label asp-for="Price" class="ms-2">Giá Phòng</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="SquareMeter" class="form-control border shadow" />
                    <label asp-for="SquareMeter" class="ms-2">Số mét vuông</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="Occupancy" class="form-control border shadow" />
                    <label asp-for="Occupancy" class="ms-2">Số người tối đa</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="ImageUrl" class="form-control border shadow" />
                    <label asp-for="ImageUrl" class="ms-2">Hình ảnh</label>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-check-circle"></i> Xóa
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Hotel" asp-action="Index" class="btn btn-danger w-100">
                            <i class="bi bi-check-circle"></i> Thoát
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
