@model IEnumerable<Domain.Entities.Hotel>

<div class="w-100 card border-0 p-5">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Danh Sách Khách Sạn
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body border py-4 ">
        <div class="row pb-4">
            <div class="col-6 offset-6 text-end">
                <a class="btn btn-primary" asp-area="" asp-controller="Hotel" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> Thêm mới thông tin khách sạn
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Tên Khách Sạn
                    </th>
                    <th>
                        Giá Phòng
                    </th>
                    <th>
                        Số Mét Vuông
                    </th>
                    <th>
                        Số Người Tối Đa
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hotel in Model)
                {
                    <tr>
                        <td>
                            @hotel.Name
                        </td>
                        <td>
                            @hotel.Price
                        </td>
                        <td>
                            @hotel.SquareMeter
                        </td>
                        <td>
                            @hotel.Occupancy
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
